<div *ngIf="artista" class="container main-container animated fadeIn fast">
  <div class="row">

    <div class="col-md-3 text-center">
      <img [src]="artista.images | sinfoto" class="img-thumbnail img-circle" alt="">
      <br>
    </div>

    <div class="col-md-9">
      <h3>{{ artista.name }} <small> Popularidad {{ artista.popularity }}</small></h3>
      <hr>
      <a href="artista.external_urls?spotify" class="btn btn-outline-success">
        Ver página
      </a>
      <a [routerLink]="['/buscar']" class="btn btn-outline-danger">Regresar</a>
    </div>

  </div>
</div>

<div *ngIf="canciones" class="container">

  <h3>Top {{ artista.name }}</h3>
  <hr>

  <div class="row">

    <div class="col-md-12">

      <div class="table-responsive">

        <table class="table table-inverse table-hover">
          <thead>
            <th>#</th>
            <th>Foto</th>
            <th>Canción</th>
            <th>Popularidad</th>
            <th>Preview</th>
          </thead>
          <tbody>
            <tr *ngFor="let cancion of canciones; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <img [src]="cancion.album?.images | sinfoto" class="img-fluid img-50" alt="">
              </td>
              <td>{{ cancion.name }}</td>
              <td>{{ cancion.popularity }}%</td>
              <td>
                <iframe [src]=" cancion.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    </div>

  </div>

</div>
